@import "@petgogo/ui/src/styles/colors.scss";
@import "@petgogo/ui/src/styles/shadows.scss";
@import "@petgogo/ui/src/styles/_mediaQuery.scss";

.main {
  h2 {
    color: $grey-1;
  }
  span {
    font-size: inherit;
    font-weight: inherit;
  }
}

.dashboard {
  background: lighten($primary-1, 5%);
  padding: 20px 0;
  div {
    padding: 5px 20px;
    border-right: 1px solid lighten($primary-1, 20%);
    h3 {
      color: white;
      font-weight: bold;
    }
    span {
      color: white;
      font-size: 2rem;
    }
  }
}

.notif {
  border: 2px solid $white-1;
  div {
    padding: 15px 5px;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
  }
  strong {
    font-weight: bold;
  }
}
