<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
>
  <head>
    <!--[if gte mso 9]>
      <xml>
        <o:OfficeDocumentSettings>
          <o:AllowPNG />
          <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
      </xml>
    <![endif]-->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="date=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="x-apple-disable-message-reformatting" />
    <!--[if !mso]><!-->
    <link href="https://fonts.googleapis.com/css?family=DM+Sans:400,700" rel="stylesheet" />
    <!--<![endif]-->
    <title>Invitation To Petgogo</title>
    <!--[if gte mso 9]>
      <style type="text/css" media="all">
        sup {
          font-size: 100% !important;
        }
      </style>
    <![endif]-->

    <style type="text/css" media="screen">
      /* Linked Styles */
      body {
        padding: 0 !important;
        margin: 0 !important;
        display: block !important;
        min-width: 100% !important;
        width: 100% !important;
        background: white;
        -webkit-text-size-adjust: none;
      }
      a {
        color: #999999;
      }
      p {
        padding: 0 !important;
        margin: 0 !important;
      }
      img {
        -ms-interpolation-mode: bicubic; /* Allow smoother rendering of resized image in Internet Explorer */
      }

      /* Mobile styles */
      @media only screen and (max-device-width: 480px), only screen and (max-width: 480px) {
        .mobile-shell {
          width: 100% !important;
          min-width: 100% !important;
        }
        .bg {
          background-size: 100% auto !important;
          -webkit-background-size: 100% auto !important;
        }

        .text-header,
        .m-center {
          text-align: center !important;
        }

        .center {
          margin: 0 auto !important;
        }

        .td {
          width: 100% !important;
          min-width: 100% !important;
        }

        .p30-15 {
          padding: 30px 20px !important;
        }

        .fluid-img img {
          width: 100% !important;
          max-width: 100% !important;
          height: auto !important;
        }

        .column,
        .column-empty2 {
          float: left !important;
          width: 100% !important;
          display: block !important;
        }

        .column-empty2 {
          padding-bottom: 10px !important;
        }
      }
    </style>
  </head>
  <body
    class="body"
    style="padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:white; -webkit-text-size-adjust:none;"
  >
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" valign="top">
          <!-- Header -->
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center" class="p30-15" style="padding: 15px;">
                <table width="650" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
                  <tr>
                    <td
                      class="td"
                      style="width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;"
                    >
                      <!-- Header -->
                      <table class="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <th
                            class="column"
                            width="145"
                            style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;"
                          >
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td class="img m-center" style="font-size:0pt; line-height:0pt; text-align:center;">
                                  <img src="https://i.imgur.com/QiCZEEX.png" border="0" alt="" />
                                </td>
                              </tr>
                            </table>
                          </th>
                          <th
                            class="column-empty2"
                            width="1"
                            style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;"
                          ></th>
                        </tr>
                      </table>

                      <!-- END Header -->
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <!-- END Header -->

          <!-- Intro -->
          <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
            <tr>
              <td align="center">
                <table width="650" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
                  <tr>
                    <td
                      class="td"
                      style="width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;"
                    >
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="bbrr" bgcolor="#ffffff" style="border-radius:0px 0px 12px 12px;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td class="p30-15" style="padding: 50px 30px 60px 30px;">
                                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td
                                        class="h3 center pb25"
                                        style="color:#37c7ba; font-family:'DM Sans', Helvetica, Arial ,sans-serif; font-size:34px; line-height:40px; font-weight:bold; text-align:center; padding-bottom:35px;"
                                      >
                                        You have been invited to join a Petgogo Group
                                      </td>
                                    </tr>
                                    <tr>
                                      <td
                                        class="text-center pb25"
                                        style="color:#141823; font-family:'DM Sans', Helvetica, Arial,sans-serif; font-size:16px; line-height:28px; padding-bottom:25px;"
                                      >
                                        Hello! You have been invited to join a business listing on Petgogo! Click the
                                        button below to proceed with this action.
                                      </td>
                                    </tr>
                                    <!-- Button -->
                                    <tr>
                                      <td align="center">
                                        <table
                                          class="center"
                                          border="0"
                                          cellspacing="0"
                                          cellpadding="0"
                                          style="text-align:center;"
                                        >
                                          <tr>
                                            <td
                                              class="text-button"
                                              style="background:#37c7ba;border:2px solid #34a79c;border-bottom-width: 4px;color:#ffffff; font-family:Helvetica, Arial ,sans-serif; font-size:14px; line-height:18px; padding:10px 15px; text-transform:capitalize; font-weight:bold; border-radius:5px;"
                                            >
                                              <a
                                                href="<%= url %>"
                                                target="_blank"
                                                class="link-white"
                                                style="color:#ffffff; text-decoration:none;"
                                              >
                                                <span class="link-white" style="color:#ffffff; text-decoration:none;"
                                                  >Join Petgogo Group!</span
                                                >
                                              </a>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                    <!-- END Button -->
                                    <tr>
                                      <td
                                        class="text-center pb25"
                                        style="color:#141823; font-family:'DM Sans', Helvetica, Arial,sans-serif; font-size:16px; line-height:28px; padding-top:25px;"
                                      >
                                        Best regards, <br />
                                        The Petgogo Team
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>

                      <!-- END Intro -->
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <!-- END Intro -->

          <!-- Footer -->
          <table width="100%" style="border-top: 2px solid #ececec" cellspacing="0" cellpadding="0" bgcolor="#f9f9fb">
            <tr>
              <td valign="top" align="center" class="p30-15" style="padding: 50px 0px 50px 0px;">
                <table width="650" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
                  <tr>
                    <td
                      class="td"
                      style="width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;"
                    >
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="center" style="padding-bottom: 30px;">
                            <table border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td class="img" width="35" style="font-size:0pt; line-height:0pt; text-align:left;">
                                  <a href="https://www.facebook.com/Petgogo-Official-110713023932994" target="_blank"
                                    ><img
                                      src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/facebook-icon_24x24.png"
                                      width="25"
                                      height="25"
                                      border="0"
                                      alt=""
                                  /></a>
                                </td>
                                <td class="img" width="35" style="font-size:0pt; line-height:0pt; text-align:left;">
                                  <a href="https://instagram.com/officialpetgogo?igshid=1wixge9mp6mpz" target="_blank"
                                    ><img
                                      src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/instagram-icon_24x24.png"
                                      width="25"
                                      height="25"
                                      border="0"
                                      alt=""
                                  /></a>
                                </td>
                                <td class="img" width="35" style="font-size:0pt; line-height:0pt; text-align:left;">
                                  <a href="https://www.youtube.com/channel/UCkho_8uJcb3bntGQUoqCrbA" target="_blank"
                                    ><img
                                      src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/youtube-icon_24x24.png"
                                      width="25"
                                      height="25"
                                      border="0"
                                      alt=""
                                  /></a>
                                </td>
                                <td class="img" width="35" style="font-size:0pt; line-height:0pt; text-align:left;">
                                  <a href="https://twitter.com/OfficialPetGoGo?s=20" target="_blank"
                                    ><img
                                      src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/twitter-icon_24x24.png"
                                      width="25"
                                      height="25"
                                      border="0"
                                      alt=""
                                  /></a>
                                </td>
                                <td class="img" width="35" style="font-size:0pt; line-height:0pt; text-align:left;">
                                  <a href="https://pin.it/3WK01UQ" target="_blank"
                                    ><img
                                      src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/pinterest-icon_24x24.png"
                                      width="25"
                                      height="25"
                                      border="0"
                                      alt=""
                                  /></a>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td
                            class="text-footer2 pb20"
                            style="color:#999999; font-family:'DM Sans', Helvetica, Arial,sans-serif; font-size:12px; line-height:26px; text-align:center;"
                          >
                            <a href="#">Privacy policy</a> | <a href="#">Unsubscribe</a> |
                            <a href="#">Contact</a>
                          </td>
                        </tr>
                        <tr>
                          <td
                            class="text-footer2 pb20"
                            style="color:#999999; font-family:'DM Sans', Helvetica, Arial,sans-serif; font-size:12px; line-height:26px; text-align:center;"
                          >
                            © 2020 Petgogo, 4th Floor, 18 St. Cross Street, London UK
                          </td>
                        </tr>
                        <tr>
                          <td
                            class="text-footer2"
                            style="color:#999999; font-family:'DM Sans', Helvetica, Arial,sans-serif; font-size:12px; line-height:26px; text-align:center;"
                          >
                            <a
                              href="#"
                              target="_blank"
                              class="link-grey-u"
                              style="color:#999999; text-decoration:underline;"
                              ><span class="link-grey-u" style="color:#999999; text-decoration:underline;"
                                >Unsubscribe</span
                              ></a
                            >
                            from this mailing list.
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <!-- END Footer -->
        </td>
      </tr>
    </table>
  </body>
</html>
