@import "@petgogo/ui/src/styles/colors.scss";
@import "@petgogo/ui/src/styles/shadows.scss";
@import "@petgogo/ui/src/styles/_mediaQuery.scss";

.chart {
  margin-top: 10px;
  border: 2px solid $white-1;
  h3 {
    color: $grey-1;
    font-weight: bold;
    margin-bottom: 3px;
  }
}

.date_filter {
  display: grid;
  grid-template-columns: auto 10px auto 1fr;
}

.title {
  padding: 20px;
  div {
    font-size: 1.8rem;
    font-weight: bold;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
  @media screen and (max-width: $mq-s) {
    grid-template-columns: 1fr;
  }
}
