@import "@petgogo/ui/src/styles/colors.scss";

.rbc-btn {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  &.rbc-btn {
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
  }

  &[disabled].rbc-btn {
    cursor: not-allowed;
  }

  &.rbc-input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.rbc-calendar {
  padding: 0 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  * {
    box-sizing: inherit;

    &:before,
    &:after {
      box-sizing: inherit;
    }
  }
}

.rbc-abs-full,
.rbc-row-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rbc-ellipsis,
.rbc-event-label,
.rbc-row-segment .rbc-event-content,
.rbc-show-more {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rbc-rtl {
  direction: rtl;
}

.rbc-off-range {
  color: #999999;
}

.rbc-off-range-bg {
  background: #e6e6e6;
}

.rbc-row-content {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  z-index: 4;
}

.rbc-toolbar {
  button {
    padding: 5px !important;
    margin-right: 5px;
  }
  h3 {
    margin-left: 5px;
    margin-bottom: 0px !important;
  }
}

.rbc-calendar .left {
  margin-left: 5px;
}

.rbc-btn-group {
  margin-left: 20px;
  button {
    margin-right: 5px;
    padding: 5px !important;
  }
}

.label-date {
  width: 34px;
  margin: 5px auto;
  white-space: nowrap;
  span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    color: $grey-1;
  }

  div {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    font-weight: 500;
    font-size: 1.1rem;
  }
}

.rbc-event {
  border-left: 2px solid #84c9f7;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  padding: 2px 5px;
  background-color: #e3f5ff;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.rbc-slot-selecting .rbc-event {
  cursor: inherit;
  pointer-events: none;
}

.rbc-event-label {
  font-size: 80%;
}

.rbc-event-overlaps {
  box-shadow: -1px 1px 5px 0px rgba(51, 51, 51, 0.5);
}

.rbc-event-continues-prior {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rbc-event-continues-after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-event-continues-earlier {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.rbc-event-continues-later {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-row {
  display: flex;
  flex-direction: row;
}

.rbc-row-segment {
  padding: 0 1px 1px 1px;
}

.rbc-selected-cell {
  background-color: rgba(0, 0, 0, 0.1);
}

.rbc-show-more {
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 4;
  font-weight: bold;
  font-size: 85%;
  height: auto;
  line-height: normal;
}

.rbc-month-view {
  position: relative;
  border: 1px solid $white-3;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  height: 100%;
}

.rbc-month-header {
  display: flex;
  flex-direction: row;
}

.rbc-month-row {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 0;
  flex-basis: 0px;
  overflow: hidden;
  height: 100%;

  + .rbc-month-row {
    border-top: 1px solid $white-3;
  }
}

.rbc-date-cell {
  flex: 1 1 0;
  min-width: 0;
  padding-right: 5px;
  text-align: right;

  &.rbc-now {
    font-weight: bold;
  }

  > a {
    color: inherit;
    text-decoration: none;

    &:active,
    &:visited {
      color: inherit;
      text-decoration: none;
    }
  }
}

.rbc-row-bg {
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
  overflow: hidden;
}

.rbc-day-bg {
  flex: 1 0 0%;

  + .rbc-day-bg {
    border-left: 1px solid $white-3;
  }
}

.rbc-rtl .rbc-day-bg + .rbc-day-bg {
  border-left-width: 0;
  border-right: 1px solid $white-3;
}

.rbc-overlay {
  position: absolute;
  z-index: 5;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  padding: 10px;

  > * + * {
    margin-top: 1px;
  }
}

.rbc-overlay-header {
  border-bottom: 1px solid #e5e5e5;
  margin: -10px -10px 5px -10px;
  padding: 2px 10px;
}

.rbc-agenda-view {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  overflow: auto;

  table.rbc-agenda-table {
    width: 100%;
    border: 2px solid $white-3;
    border-spacing: 0;
    border-collapse: collapse;

    tbody > tr > td {
      padding: 5px 10px;
      vertical-align: top;
    }

    .rbc-agenda-time-cell {
      padding-left: 15px;
      padding-right: 15px;
      text-transform: lowercase;
    }

    tbody > tr > td + td {
      border-left: 1px solid $white-3;
    }
  }
}

.rbc-rtl .rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-left-width: 0;
  border-right: 1px solid $white-3;
}

.rbc-agenda-view table.rbc-agenda-table {
  tbody > tr + tr {
    border-top: 1px solid $white-3;
  }

  thead > tr > th {
    display: none;
  }
}

.rbc-rtl .rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  text-align: right;
}

.rbc-agenda-time-cell {
  text-transform: lowercase;

  .rbc-continues-after:after {
    content: " »";
  }

  .rbc-continues-prior:before {
    content: "« ";
  }
}

.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
  white-space: nowrap;
}

.rbc-agenda-event-cell {
  width: 100%;
  font-weight: bold;
}

.rbc-time-column {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .rbc-timeslot-group {
    flex: 1;
  }
}

.rbc-timeslot-group {
  border-bottom: 1px solid $white-3;
  min-height: 60px;
  display: flex;
  flex-flow: column nowrap;
}

.rbc-time-gutter,
.rbc-header-gutter {
  flex: none;
}

.rbc-time-content .rbc-label {
  font-size: 0.8rem;
  font-weight: 500;
  color: grey;
  padding-right: 5px;
}

.rbc-day-slot {
  min-width: 100px;
  position: relative;

  .rbc-events-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;

    /* margin-right: 10px; */
    top: 0;

    &.rbc-rtl {
      left: 10px;
      right: 0;
    }
  }

  .rbc-event {
    display: flex;
    max-height: 100%;
    min-height: 20px;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    position: absolute;
  }

  .rbc-event-label {
    flex: none;
    padding-bottom: 5px;
    width: auto;
    color: #147bbf;
  }

  .rbc-event-content {
    width: 100%;
    flex: 1 1 0;
    word-wrap: break-word;
    line-height: 1;
    height: 100%;
    min-height: 1em;
    span {
      display: block;
      font-weight: 500;
      font-size: 0.9rem;
      color: #0b78c0;
    }
  }

  .rbc-time-slot {
    border-top: 1px solid #f7f7f7;
  }
}

.rbc-time-header-gutter {
  position: sticky;
  left: 0;
  background-color: white;
  z-index: 10;
  margin-right: -1px;
}

.rbc-header {
  width: 100px;
  flex: 1 1 0;
  flex-basis: 0px;
}

/* .rbc-time-header-content + .rbc-time-header-content {
  margin-left: -.5px; } */

.rbc-time-slot {
  text-align: right;
  flex: 1 0 0;

  &.rbc-now {
    font-weight: bold;
  }
}

.rbc-day-header {
  text-align: center;
}

.rbc-slot-selection {
  z-index: 10;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 75%;
  width: 100%;
  padding: 3px;
}

.rbc-slot-selecting {
  cursor: move;
}

.rbc-time-view {
  margin-top: 5px;
  min-width: 100%;
  max-width: 100%;
  width: 1px;
  overflow: hidden;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;

  .rbc-time-gutter {
    white-space: nowrap;
    border-right: 1px solid $white-3;
    position: sticky;
    left: 0;
    background-color: white;
    z-index: 10;
    margin-right: -1px;
  }

  .rbc-allday-cell {
    display: none;
  }

  .rbc-row {
    box-sizing: border-box;
    min-height: 20px;
  }
}

.rbc-time-header {
  display: flex;
  flex: 0 0 auto;
  border-bottom: 1px solid $white-3;
  flex-direction: row;
  overflow: hidden;
}

.rbc-rtl .rbc-time-header.rbc-overflowing {
  border-right-width: 0;
  border-left: 1px solid $white-3;
}

.rbc-time-header > .rbc-row {
  &:first-child,
  &.rbc-row-resource {
    border-bottom: 1px solid $white-3;
  }
}

.rbc-time-header-cell-single-day {
  display: none;
}

.rbc-time-header-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: auto;
  flex: 1 0 0;
  flex-basis: 0px;
}

.rbc-rtl .rbc-time-header-content {
  border-left-width: 0;
  border-right: 1px solid $white-3;
}

.rbc-time-header-content > .rbc-row.rbc-row-resource {
  flex-shrink: 0;
}

.rbc-time-content {
  display: flex;
  flex: 1 0 0%;
  align-items: flex-start;
  width: 100%;
  overflow-y: auto;
  box-shadow: 0;
  position: relative;

  > {
    .rbc-time-gutter {
      flex: none;
    }

    * + * > * {
      border-left: 1px solid $white-3;
    }
  }
}

.rbc-rtl .rbc-time-content > * + * > * {
  border-left-width: 0;
  border-right: 1px solid $white-3;
}

.rbc-time-content > .rbc-day-slot {
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
}

.rbc-current-time-indicator {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  height: 2px;
  background-color: orangered;
  pointer-events: none;

  &::after {
    width: 10px;
    height: 10px;
    display: block;
    content: "";
    background: red;
    margin-top: -4px;
    margin-left: -5px;
    border-radius: 50px;
  }
}

@media screen and (max-width: 770px) {
  .rbc-calendar {
    padding: 0 10px;
  }

  .label-date {
    width: auto;

    div {
      width: 27px;
      height: 27px;
      font-size: 1.2rem;
    }
  }

  .rbc-time-content .rbc-label {
    font-size: 0.7rem;
  }
}

.today {
  span {
    color: $primary-2;
  }
  div {
    background: $primary-2;
    color: white;
  }
}
