@import "@petgogo/ui/src/styles/colors.scss";
@import "@petgogo/ui/src/styles/shadows.scss";
@import "@petgogo/ui/src/styles/_mediaQuery.scss";

.modal {
  width: 20rem;
  position: fixed;
  background: white;
  box-shadow: $shadow-3;
  border: 1px solid $white-1;
  padding: 20px 20px 5px;
  z-index: 10;
  bottom: 30px;
  right: 30px;
  border-radius: 10px;
  ul {
    li {
      margin: 7px 0;
    }
  }
  a {
    display: block;
    border: 2px solid $secondary-2;
    padding: 5px 0;
    color: $secondary-2;
  }
  @media screen and (max-width: $mq-s) {
    bottom: 0;
    right: 0;
    width: 100%;
  }
}

.workers {
  padding-top: 10px;
  button {
    margin-right: 5px;
  }
}

.services {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 5px;
  div {
    font-size: 1.1rem;
    color: $secondary-2;
    font-weight: bold;
  }
  span {
    font-weight: bold;
  }
}
