@import "../../styles/colors";

.category {
  padding: 5px 10px;
  font-weight: 700;
  background: #e7eaf1;
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
  color: $grey-1;
  &.active {
    background: #e2f5f3;
    color: $primary-2;
  }
  i {
    margin-right: 5px;
    color: currentColor;
  }
}
