@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
@import "@petgogo/ui/src/styles/colors.scss";

.profile {
  border-radius: 50px;
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  background: lightgrey;
  flex-shrink: 0;
  bold {
    font-weight: bold;
  }
}

.mx-w-27 {
  max-width: 27rem;
}

.mx-w-35 {
  max-width: 35rem;
}
