@import "@petgogo/ui/src/styles/colors.scss";
@import "@petgogo/ui/src/styles/_mediaQuery.scss";
@import "@petgogo/ui/src/styles/shadows.scss";

.grid {
  tr {
    grid-template-columns: 50px 1fr 1fr 1fr 1fr;
  }
}

.visit {
  padding: 6px 15px;
  color: $secondary-2;
  border: 3px solid $secondary-2;
  text-decoration: none !important;
}

.title {
  color: #6b798c;
  letter-spacing: 2px;
}

.store {
  section {
    border-bottom: 1px solid $white-1;
    padding: 40px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    p {
      line-height: 1.6rem;
    }
    @media screen and (max-width: $mq-s) {
      grid-template-columns: 1fr;
    }
  }
}

.info {
  li {
    padding: 5px 0;
    display: grid;
    grid-template-columns: 150px 1fr;
    span {
      font-size: 0.9rem;
      margin-right: 40px;
      text-align: right;
    }
  }
}

.tag {
  background: $white-1;
  padding: 5px 8px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.image {
  height: 8rem;
  width: 12rem;
  input {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  button {
    box-shadow: $shadow-4;
    background: white;
    width: 2rem;
    height: 2rem;
    right: 10px;
    top: 10px;
    position: absolute;
  }
}

.thumbnail {
  pointer-events: none;
  background: lighten($white-1, 5%);
  border: 2px dashed $white-1;
}

.services {
  li {
    background: white;
    box-shadow: $shadow-4;
    border: 1px solid $white-1;
    margin: 10px 2px 2px;
    display: grid;
    grid-template-columns: auto 1fr;
    p {
      font-weight: bold;
      font-size: 1.1rem;
    }
  }
}

.service {
  padding: 20px;
}

.price {
  font-weight: bold;
}

.handler {
  padding: 10px;
  background: lighten($white-1, 5%);
  cursor: grab;
}

.openning {
  padding-top: 40px;
  li {
    min-height: 40px;
    p {
      text-transform: capitalize;
    }
    @media screen and (max-width: $mq-s) {
      flex-direction: column;
      margin-bottom: 10px;
    }
  }
}

.opennings {
  li {
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 8px;
    div:first-child {
      text-transform: capitalize;
    }
    @media screen and (max-width: $mq-s) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.openning_grid {
  display: grid;
  grid-template-columns: 1fr auto;
  padding-right: 20px;
}

.imgLoading {
  position: fixed;
  z-index: 1;
  background: rgba(255, 255, 255, 0.562);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.settings {
  h3 {
    margin-bottom: 0px;
  }
  li {
    padding: 20px 0;
    border-bottom: 1px solid $white-1;
    &:last-child {
      border-bottom: none;
    }
  }
}
