@import "../../styles/colors";

.link {
  background: transparent;
  border: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
  &.grey {
    color: $grey-1;
  }
  &.primary {
    color: $primary-2;
  }
  &.secondary {
    color: $secondary-2;
  }
  &.extraLarge {
    font-size: 2.2rem;
  }
  &.large {
    font-size: 1.8rem;
  }
  &.medium {
    font-size: 1.4rem;
  }
  &.small {
    font-size: 1rem;
  }
  i {
    margin-right: 5px;
  }
  * {
    color: currentColor;
  }
}
