@import "../../styles/colors";
@import "../../styles/shadows";
@import "../../styles/_mediaQuery";

.table {
  overflow-x: auto;
  min-width: 100%;
  max-width: 100%;
  width: 1px;
  table {
    border-spacing: 0;
  }
  thead {
    background: #fafcfd;
    td {
      font-weight: bold;
      font-size: 0.9rem;
      text-transform: uppercase;
    }
  }
  tr {
    display: inline-grid;
    border-top: 1px solid $white-1;
    td {
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 12px;
      white-space: nowrap;
      label {
        margin-left: 10px;
      }
    }
    &:hover {
      background: #eff5fa;
    }
    &:last-child {
      border-bottom: 1px solid $white-1;
    }
  }
}

.filter {
  padding-bottom: 10px;
}

.filter_item {
  padding: 15px 10px !important;
  background: #eff5fa;
  display: none;
  input {
    margin-left: 10px;
  }
}

.slideDown {
  display: flex;
}

.modal {
  position: absolute;
  z-index: 1;
  background: white;
  box-shadow: $shadow-2;
  border: 2px solid $white-1;
  width: 17rem;
  display: none;
  nav {
    padding: 5px;
    border-bottom: 1px solid $white-1;
  }
  h5 {
    margin: auto;
    font-weight: bold;
  }
  button {
    padding: 5px 10px !important;
  }
  span {
    white-space: nowrap;
  }
  input[type="checkbox"] {
    margin-right: 10px;
  }
  label {
    padding: 10px;
    input {
      min-width: 0;
    }
  }
}

.grid {
  tr {
    grid-template-columns: 50px 1fr;
  }
}
