@import "../../styles/colors";

.wrapper {
  padding-right: 20px;
  &.focused {
    border-color: darken($primary-2, 10%);
  }
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: transparent;
    font-size: 1rem;
    outline: none;
  }
  i {
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: $grey-1;
  }
}

.medium {
  padding: 10px 12px;
}

.slim {
  padding: 4px 8px;
  min-width: 6rem;
}
