@import "@petgogo/ui/src/styles/colors.scss";
@import "@petgogo/ui/src/styles/shadows.scss";
@import "@petgogo/ui/src/styles/_mediaQuery.scss";

.gridRequests {
  thead td:nth-child(2) {
    min-width: 200px;
  }
  tr {
    grid-template-columns: 50px 4fr 300px 150px 150px;
  }
}

.gridAll {
  thead td:nth-child(2) {
    min-width: 200px;
  }
  tr {
    grid-template-columns: 50px 200px 1fr 1fr 1fr;
  }
}

.request {
  border-collapse: separate;
  border-spacing: 0 0.8em;
  max-width: 40rem;
  td {
    font-size: 0.9rem;
  }
  tr td:first-child {
    vertical-align: top;
    width: 8rem;
    text-align: right;
    padding-right: 20px;
    flex-shrink: 0;
    color: $grey-1;
  }
}

.request_img {
  max-width: 30rem;
  height: 15rem;
}

// .request_left {
//   flex-shrink: 0;
//   span {
//     color: grey;
//     text-align: right;
//     margin-right: 20px;
//   }
// }

.sticky {
  position: sticky;
  bottom: 0;
  z-index: 1;
  background: white;
  padding: 15px 10px;
  border-top: 1px solid $white-1;
  @media screen and (max-width: $mq-s) {
    padding: 15px 0;
  }
}
