@import "../../styles/colors";
@import "../../styles/_btn";

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border: 2px solid $white-3;
  border-bottom-width: 3px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  div {
    font-size: inherit;
    font-weight: bold;
  }
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
  &.fullWidth {
    width: 100%;
  }
  &.slim {
    font-size: 0.9rem;
    padding: (0.8 * $pd-btn-x) (0.8 * $pd-btn-y);
  }
  &.medium {
    font-size: 1rem;
    padding: $pd-btn-x $pd-btn-y;
  }
  &.large {
    font-size: 1.2rem;
    padding: (1.2 * $pd-btn-x) (1.2 * $pd-btn-y);
  }
  &.default {
    background: linear-gradient(rgb(255, 255, 255), rgb(249, 250, 251));
    &:hover {
      background: linear-gradient(rgb(250, 249, 249), rgb(243, 244, 245));
    }
  }
  &.primary {
    color: white;
    background: $primary-1;
    border-color: $primary-2;
    &:hover {
      background: $primary-2;
    }
  }
  &.secondary {
    color: white;
    background: $secondary-1;
    border-color: $secondary-2;
    &:hover {
      background: $secondary-2;
    }
  }
  &.secondary-outline {
    color: $secondary-2;
    background: transparent;
    border-color: $secondary-2;
    border-width: 3px;
  }
  &.destructive {
    color: white;
    background: $red-2;
    border-color: $red-3;
    &:hover {
      background: $red-3;
    }
  }
  &.right {
    margin-left: auto;
  }
  &.center {
    margin: 0 auto;
  }
  * {
    color: currentColor;
  }
  .none {
    color: transparent;
  }
}
