@import '../../styles/colors';

.image {
  background: lighten($white-1, 4%);
  border: 2px dashed lightgrey;
  min-height: 15rem;
  input {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  div {
    text-align: center;
  }
  &:hover {
    background: $white-1;
  }
  &.filled {
    position: relative;
    border: none;
    &:hover::after {
      background: rgba(231, 231, 231, 0.623);
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
}