@import '../../styles/colors';

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
  input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  span:before {
    box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
    border-radius: 50px;
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + span {
    background-color: $primary-1;
  }
  
  input:focus + span {
    box-shadow: 0 0 1px $primary-1;
  }
  
  input:checked + span:before {
    transform: translateX(22px);
  }
}