@import '../../styles/colors';
@import '../../styles/_icon';

.icon {
  display: inline-block;
  i {
    color: currentColor;
  }
  * {
    color: currentColor
  }
  &.small {
    height: $sm-h;
    width: $sm-w;
  }
  &.medium {
    height: $m-h;
    width: $m-w;
  }
  &.large {
    height: $l-h;
    width: $l-w;
  }
  &.extraLarge {
    height: $xl-h;
    width: $xl-w;
  }
  &.primary-0 {
    color: lighten($primary-2, 35%);
  }
  &.primary-1 {
    color: $primary-1
  }
  &.primary-2 {
    color: $primary-2
  }
  &.secondary-1 {
    color: $secondary-1
  }
  &.secondary-2 {
    color: $secondary-2
  }
  &.red-1 {
    color: $red-2
  }
  &.red-3 {
    color: $red-3
  }
  &.white {
    color: #fff;
  }
  &.black {
    color: $black
  }
  &.grey {
    color: $grey-1;
  }
  &.yellow {
    color: $yellow-2
  }
  svg {
    fill: currentColor;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  &.spin {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    svg {
      animation: loadingMotion 1s infinite linear;
    }
  }
}

@keyframes loadingMotion {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 50% 50%;
    transform: rotate(360deg);
  }
}