@import "@petgogo/ui/src/styles/colors.scss";
@import "@petgogo/ui/src/styles/_mediaQuery.scss";

.grid {
  thead td:nth-child(3) {
    min-width: 200px;
  }
  tr {
    grid-template-columns: 50px 130px 1fr 200px 100px 100px 150px;
  }
}

.bookingSection {
  padding: 20px 0;
  border-bottom: 1px solid $white-1;
  &:last-child {
    border-bottom: none;
  }
  table {
    border-collapse: separate;
    border-spacing: 0 0.8em;
    max-width: 40rem;
    tr td:first-child {
      font-size: 0.9rem;
      vertical-align: top;
      width: 9rem;
      text-align: right;
      padding-right: 40px;
      flex-shrink: 0;
      color: $grey-1;
    }
  }
}

.sticky {
  position: sticky;
  bottom: 0;
  z-index: 1;
  background: white;
  padding: 15px 10px;
  border-top: 1px solid $white-1;
  @media screen and (max-width: $mq-s) {
    padding: 15px 0;
  }
}
