@import "../../styles/colors";
@import "../../styles/shadows";
@import "../../styles/mediaQuery";

.calendar {
  padding: 3px 10px;
  i {
    margin-right: 8px;
    color: $grey-1;
  }
  &.focused {
    border-color: darken($primary-2, 10%);
  }
}

.modal {
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  top: 110%;
  background: white;
  box-shadow: $shadow-2;
  border: 1px solid $white-1;
  width: 18rem;
  @media screen and (max-width: $mq-s) {
    z-index: 1;
    left: 50%;
    top: 0;
    transform: translate(-50%, 10%);
  }
}
