@import '../../styles/colors';
@import '../../styles/shadows';

.banner {
  max-width: 30rem;
  min-width: 17rem;
  padding: 15px;
  box-shadow: $shadow-2;
  &.default {
    background: #3c4257;
    span {
      color: white!important;
    }
    * {
      color: white;
    }
  }
  &.info {
    border: 1px solid $secondary-1;
    background: $blue-1;
    * {
      color: $secondary-2;
    }
  }
  &.success {
    border: 1px solid $primary-1;
    background: $green-1;
    * {
      color: $primary-2;
    }
  }
  &.warning {
    border: 1px solid $yellow-2;
    background: $yellow-1;
    * {
      color: $yellow-3;
    }
  }
  &.block {
    border: 1px solid $red-2;
    background: $red-1;
    * {
      color: $red-3;
    }
  }
  .icon {
    margin-right: 15px;
  }
}