@import "@petgogo/ui/src/styles/colors.scss";
@import "@petgogo/ui/src/styles/shadows.scss";
@import "@petgogo/ui/src/styles/_mediaQuery.scss";

.main {
  margin-left: 18rem;
  main {
    flex: 1;
    padding: 0 80px;
    h2 {
      margin-bottom: 20px;
    }
  }
  @media screen and (max-width: 1000px) {
    margin-left: 0;
    main {
      padding: 0 15px;
    }
  }
}

.overlay_dropdown {
  background: rgba(42, 54, 71, 0.548);
  position: fixed;
  z-index: 23;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.bottom {
  background: white;
  position: sticky;
  padding: 15px 0;
  bottom: 0;
}

.shadow {
  box-shadow: $shadow-1;
  border: 2px solid $white-1;
  margin: 10px -10px;
  padding: 0 20px;
}

.modal {
  position: fixed;
  z-index: 23;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  background: white;
  padding: 20px;
  box-shadow: $shadow-1;
  nav {
    padding-bottom: 20px;
  }
  form {
    div {
      margin-bottom: 5px;
    }
    button {
      margin-top: 10px;
    }
  }
  @media screen and (max-width: $mq-s) {
    height: 100%;
    border-radius: 0 !important;
  }
}
