@import "@petgogo/ui/src/styles/colors.scss";
@import "@petgogo/ui/src/styles/shadows.scss";
@import "@petgogo/ui/src/styles/_mediaQuery.scss";

.reviews {
  display: grid;
  grid-template-columns: 3fr 1fr;
  li {
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid $white-1;
    &:last-child {
      border-bottom: none;
    }
  }
  span {
    font-size: 0.9rem;
  }
  @media screen and (max-width: $mq-s) {
    ul {
      order: 2;
    }
    grid-template-columns: 1fr;
  }
}

.profile {
  width: 50px;
  height: 50px;
}

.name {
  font-weight: bold;
}

.stars {
  margin-top: 5px;
}

.text {
  font-size: 1.1rem;
  line-height: 1.4;
}

.rating {
  font-weight: bold;
  font-size: 1.2rem;
}

.aside {
  margin-top: 20px;
  padding-left: 60px;
  @media screen and (max-width: $mq-s) {
    border-bottom: 2px solid $white-1;
    padding-left: 0;
    order: 1;
  }
}

.dashboard {
  margin-bottom: 20px;
  h3 {
    font-weight: bold;
    font-size: 0.9rem;
  }
  div {
    white-space: nowrap;
    font-weight: 900;
    color: $secondary-2;
    font-size: 2rem;
  }
}

.reply {
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr auto;
  @media screen and (max-width: $mq-s) {
    grid-template-columns: 1fr;
  }
}

.textarea textarea {
  min-height: 0px !important;
}
