@import "./colors.scss";

._layout {
  min-height: 100vh;
}

.inline {
  display: inline-flex;
}

.flex {
  display: flex;
}

.flex-shrink {
  flex-shrink: 0;
}

.column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100%;
}

.al-i-center {
  align-items: center;
}

.al-t-center {
  text-align: center;
}

.j-c-center {
  justify-content: center;
}

.m-auto {
  margin: auto;
}

.m-l-auto {
  margin-left: auto;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-auto {
  margin-top: auto;
}

.m-r-15 {
  margin-right: 15px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-x-auto {
  margin: 0 auto;
}

.relative {
  position: relative;
}

.imgFull {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.input {
  border: 2px solid $white-3;
  border-radius: 5px;
  background: white;
}

.cursor-p {
  cursor: pointer;
}

.round-sm {
  border-radius: 5px;
}

.round-m {
  border-radius: 10px;
}

.round {
  border-radius: 50px;
}

.show {
  display: block !important;
}

.show-flex {
  display: flex !important;
}

.grey {
  color: $grey-2;
}

.fill-primary {
  fill: $primary-1;
}

.overflow-h {
  overflow: hidden;
}

.overflow-xs {
  overflow-x: scroll;
}

.info {
  font-size: 0.9rem;
  font-style: italic;
  margin: 10px 0;
}

.bold {
  font-weight: bold;
}
