@import "./colors";

.react-calendar {
  padding: 20px;
}

.react-calendar__month-view__weekdays__weekday {
  text-align: center;
  padding-top: 5px;
  abbr {
    text-decoration: none;
  }
}

.react-calendar__navigation {
  align-items: center;
}

.react-calendar__navigation__label {
  font-weight: bold;
  font-size: 1.1rem;
  color: $black;
}

.react-calendar__navigation__arrow {
  border: 2px solid $white-1;
  border-radius: 3px;
  height: 30px;
  width: 40px;
  display: flex;
  cursor: pointer;
  svg {
    margin: auto;
    width: 60%;
    height: 60%;
    fill: $grey-2;
  }
}

.react-calendar__month-view__weekdays {
  margin: 2px 0;
  color: $grey-1;
}

.react-calendar__month-view__weekdays__weekday abbr {
  font-size: 0.8rem;
  color: $grey-1;
}

.react-calendar__tile {
  padding: 0.4em 0.4em;
}

.react-calendar__month-view__days__day {
  cursor: pointer;
  border: 1px solid $white-1;
  margin: -1px -1px 0 0;
  &:hover {
    background: $white-3;
  }
  abbr {
    font-size: 0.9rem;
    color: $grey-2;
  }
}

.react-calendar__tile--active {
  background: $secondary-2 !important;
  border-color: $secondary-2;
  abbr {
    color: white;
  }
}

.react-calendar__tile--now {
  background: $blue-1;
}

.react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0;
  pointer-events: none;
}

.react-calendar__month-view__days {
  margin-right: -7px;
}
