@import "./colors.scss";
@import "./_patterns.scss";

* {
  color: $black;
  box-sizing: border-box;
  word-break: break-word;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

button {
  background: inherit;
  border: inherit;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

a {
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: $secondary-2;
  }
}
