@import "../../node_modules/@petgogo/ui/src/styles/colors.scss";
@import "../../node_modules/@petgogo/ui/src/styles/_mediaQuery.scss";

.checkout-date-picker {
  padding: 0 60px 0 0;
  .react-calendar__month-view__days {
    margin: 0;
  }
  .react-calendar__month-view__days__day {
    height: 4.4vw;
    background: lighten($white-1, 5%);
    border: 2px solid white;
    border-radius: 5px;
    margin: 0;
    &:hover {
      background: lighten($secondary-1, 40%);
    }
    abbr {
      font-size: 1rem;
      font-weight: bold;
    }
  }
  .react-calendar__tile--now {
    background: lighten($secondary-1, 50%);
  }
}

@media screen and (max-width: $mq-s) {
  .checkout-date-picker {
    padding: 0 0 20px;
    .react-calendar__month-view__days__day {
      height: 12vw;
    }
  }
}
