@import "../../styles/colors";

.badge {
  padding: 5px 15px;
  font-size: 0.8rem;
  border-radius: 50px;
  font-weight: 700;
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
  &.default {
    background: $white-2;
    color: $grey-1;
  }
  &.info {
    background: $blue-1;
    color: $secondary-2;
  }
  &.success {
    background: $green-1;
    color: $primary-2;
  }
  &.fail {
    background: $red-1;
    color: $red-2;
  }
  i {
    margin-right: 5px;
    color: currentColor;
  }
}
