@import "../../styles//colors.scss";

.heading {
  font-weight: bold;
  margin-bottom: 10px;
  &.extraLarge {
    font-size: 2.2rem;
    margin-bottom: 15px;
  }
  &.large {
    font-size: 1.8rem;
  }
  &.medium {
    font-size: 1.4rem;
  }
  &.small {
    font-size: 1rem;
  }
}
