@import '../../styles/colors';

.checkbox {
  display: flex;
  align-items: center;
  &.checked .wrapper{
    span {
      border-color: $secondary-1;
      background: $secondary-1;
      transition: all .05s cubic-bezier(.12, .4, .29, 1.46) .05s;
      &::after {
        opacity: 1;
        transition: all .1s cubic-bezier(.12, .4, .29, 1.46) .1s;
      }
    }
  }
  p {
    margin: 0;
    margin-top: 3px;
    font-size: .8rem;
    color: $grey-1;
  }
  .wrapper {
    margin-right: 8px;
    span {
      display: block;
      background: linear-gradient(rgb(255, 255, 255), rgb(249, 250, 251));
      width: 18px;
      height: 18px;
      border: 2px solid $white-4;
      transition: all .05s cubic-bezier(.71, -0.46, .88, .6), opacity .05s;
      &::after {
        opacity: 0;
        content: "";
        display: block;
        width: 4px;
        height: 8px;
        border: 2.4px solid white;
        border-top: 0;
        border-left: 0;
        position: absolute;
        transform: rotate(50deg);
        left: 6px;
        top: 3px;
        transition: all .2s cubic-bezier(.71, -0.46, .88, .6), opacity .2s;
      }
    }
    input {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
    }
  }
}