@import "../../styles/colors";

.textarea {
  &.inline {
    display: flex;
    div {
      margin-left: auto;
      min-width: 20rem;
    }
  }
  &.focused div {
    border-color: darken($primary-2, 10%);
  }
  label {
    font-weight: bold;
    display: block;
    margin: 5px 0;
    font-size: 0.9rem;
  }
  p {
    font-size: 0.9rem;
    margin-top: 3px;
    color: $grey-1;
  }
  textarea {
    background: transparent;
    border: none;
    font-size: 1rem;
    min-height: 6rem;
    padding: 10px;
    outline: none;
    resize: vertical;
    &:focus {
      border-color: darken($primary-2, 10%);
    }
    &::placeholder {
      color: #afb2b8;
    }
  }
}
