@import "@petgogo/ui/src/styles/colors.scss";
@import "@petgogo/ui/src/styles/shadows.scss";
@import "@petgogo/ui/src/styles/_mediaQuery.scss";

.profiles {
  border-top: 1px solid $white-1;
  margin-bottom: 20px;
  padding: 10px 0;
  li {
    padding: 10px 0;
  }
  h4 {
    text-transform: capitalize;
    font-weight: bold;
  }
  @media screen and (max-width: $mq-s) {
    li {
      flex-direction: column;
      align-items: flex-start;
    }
    .profile {
      margin-bottom: 20px;
    }
  }
}
