@import "../../styles/colors";

.input {
  &.inline {
    display: flex;
    .wrapper {
      width: 100%;
    }
    label {
      font-size: 1rem;
      text-align: right;
      padding: 0 15px;
      min-width: 12rem;
    }
  }
  label {
    white-space: nowrap;
    font-weight: bold;
    display: block;
    margin: 5px 0;
    font-size: 0.9rem;
  }
  input {
    cursor: text;
    border: none;
    background: transparent;
    outline: none;
    &::placeholder {
      color: #afb2b8;
    }
  }
  i {
    margin: auto 0 auto 10px;
    color: $grey-1;
  }
}

.wrapper {
  &.left {
    border-left: none;
  }
  &.focused {
    border-color: darken($primary-2, 10%);
  }
  &.error {
    background: rgb(253, 237, 239);
    border-color: $red-2;
  }
}

.infoText {
  font-size: 0.9rem;
  margin-top: 3px;
  color: $grey-1;
}

.errorText {
  font-size: 0.9rem;
  margin-top: 3px;
  color: $red-3;
}

.medium {
  padding: 10px 12px;
}

.slim {
  padding: 3px 8px;
  min-width: 6rem;
}
