.carousel {
  .control-arrow,
  &.carousel-slider .control-arrow {
    transition: all 0.25s ease-in;
    opacity: 0.4;
    filter: alpha(opacity = 40);
    position: absolute;
    z-index: 2;
    top: 20px;
    background: none;
    border: 0;
    font-size: 32px;
    cursor: pointer;
  }

  .control-arrow {
    &:hover {
      opacity: 1;
      filter: alpha(opacity = 100);
    }

    &:before {
      margin: 0 5px;
      display: inline-block;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      content: "";
    }
  }

  &.carousel-slider .control-arrow:before {
    margin: 0 5px;
    display: inline-block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    content: "";
  }

  .control-disabled.control-arrow {
    opacity: 0;
    filter: alpha(opacity = 0);
    cursor: inherit;
    display: none;
  }

  .control-prev.control-arrow {
    left: 0;

    &:before {
      border-right: 8px solid #fff;
    }
  }

  .control-next.control-arrow {
    right: 0;

    &:before {
      border-left: 8px solid #fff;
    }
  }

  position: relative;
  width: 100%;

  * {
    box-sizing: border-box;
  }

  img {
    width: 100%;
    display: inline-block;
    pointer-events: none;
  }

  .carousel {
    position: relative;
  }

  .control-arrow {
    outline: 0;
    border: 0;
    background: none;
    top: 50%;
    margin-top: -13px;
    font-size: 18px;
  }

  .thumbs-wrapper {
    margin: 20px;
    overflow: hidden;
  }

  .thumbs {
    transition: all 0.15s ease-in;
    transform: translate3d(0, 0, 0);
    position: relative;
    list-style: none;
    white-space: nowrap;
  }

  .thumb {
    transition: border 0.15s ease-in;
    display: inline-block;
    width: 80px;
    margin-right: 6px;
    white-space: nowrap;
    overflow: hidden;
    border: 3px solid #fff;
    padding: 2px;

    &:focus {
      border: 3px solid #ccc;
      outline: none;
    }

    &.selected,
    &:hover {
      border: 3px solid #333;
    }

    img {
      vertical-align: top;
    }
  }

  &.carousel-slider {
    position: relative;
    overflow: hidden;

    .control-arrow {
      top: 0;
      color: #fff;
      font-size: 26px;
      bottom: 0;
      margin-top: 0;
      padding: 5px;

      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }

  .slider-wrapper {
    overflow: hidden;
    margin: auto;
    width: 100%;
    transition: height 0.15s ease-in;
    &.axis-horizontal .slider {
      display: flex;
      .slide {
        flex-direction: column;
        flex-flow: column;
        div {
          height: 18rem;
        }
      }
    }

    &.axis-vertical {
      display: flex;

      .slider {
        flex-direction: column;
      }
    }
  }

  .slider {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    width: 100%;

    &.animated {
      transition: all 0.35s ease-in-out;
    }
  }

  .slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    background: #000;

    img {
      width: 100%;
      vertical-align: top;
      border: 0;
    }

    iframe {
      display: inline-block;
      width: calc(100% - 80px);
      margin: 0 40px 40px;
      border: 0;
    }

    .legend {
      transition: all 0.5s ease-in-out;
      position: absolute;
      bottom: 40px;
      left: 50%;
      margin-left: -45%;
      width: 90%;
      border-radius: 10px;
      background: #000;
      color: #fff;
      padding: 10px;
      font-size: 12px;
      text-align: center;
      opacity: 0.25;
      transition: opacity 0.35s ease-in-out;
    }
  }

  .control-dots {
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
    .dot {
      transition: opacity 0.25s ease-in;
      opacity: 0.3;
      filter: alpha(opacity = 30);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
      background: #fff;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      cursor: pointer;
      display: inline-block;
      margin: 0 8px;

      &.selected,
      &:hover {
        opacity: 1;
        filter: alpha(opacity = 100);
      }
    }
  }

  .carousel-status {
    position: absolute;
    bottom: 20px;
    background: rgba(53, 53, 58, 0.808);
    border-radius: 4px;
    right: 20px;
    padding: 3px 8px;
    font-size: 12px;
    color: #fff;
  }

  &:hover .slide .legend {
    opacity: 1;
  }
}

@media (min-width: 960px) {
  .carousel .control-dots {
    bottom: 0;
  }
}
