@import '@petgogo/ui/src/styles/shadows.scss';
@import '@petgogo/ui/src/styles/colors.scss';

.location {
  box-shadow: $shadow-3;
  position: absolute;
  z-index: 1;
  top: 102%;
  background: white;
  border: 1px solid $white-1;
  li {
    padding: 15px 20px;
  }
}

.active {
  background: $white-1;
}