@import "@petgogo/ui/src/styles/colors.scss";
@import "@petgogo/ui/src/styles/_mediaQuery.scss";

.main {
  h2 {
    color: $grey-1;
  }
  span {
    font-size: inherit;
    font-weight: inherit;
  }
}

.wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  @media screen and (max-width: $mq-s) {
    grid-template-columns: 1fr;
  }
}

.wrapper2 {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  @media screen and (max-width: $mq-s) {
    grid-template-columns: 1fr;
  }
}

.container {
  background: lighten($white-1, 4%);
  padding: 20px;
  strong {
    color: $secondary-2;
    font-weight: bold;
    font-size: 1.8rem;
  }
  h3 {
    font-weight: bold;
  }
  * {
    text-decoration: none !important;
  }
}

.iconRound {
  background: lighten($secondary-1, 10%);
  width: 2.4rem;
  height: 2.4rem;
}
