@import '@petgogo/ui/src/styles/colors.scss';
@import '@petgogo/ui/src/styles/shadows.scss';
@import '@petgogo/ui/src/styles/_mediaQuery.scss';

.aside {
  aside {
    padding: 20px;
    width: 18rem;
    background: lighten($white-1, 5%);
    position: fixed;
    height: 100%;
    ul {
      li {
        a {
          padding: 7px 10px;
          color: $grey-1;
          text-transform: capitalize;
          &:hover {
            text-decoration: none;
            background: rgb(226, 245, 243);
            color: $primary-1;
            svg {
              fill: $primary-1;
            }
          }
          i {
            color: currentColor;
            margin: auto 20px auto 0;
          }
        }
        div {
          a {
            margin-left: 43px;
            font-weight: 400;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1000px)  {
    aside {
      padding-top: 40px;
      display: none;
      z-index: 21;
    }
  }
}

.overlay {
  @media screen and (max-width: 1000px)  {
    background: rgba(42, 54, 71, 0.548);
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100%;
  }
}

.menu {
  margin: 10px;
  display: none;
  height: 37px;
  width: 37px;
  background: lighten($white-1, 5%);
  position: fixed;
  z-index: 22;
  @media screen and (max-width: 1000px)  {
    display: flex;
  }
}

.logo {
  margin-left: 10px;
  margin-bottom: 30px;
  span {
    font-weight: bold;
    position: absolute;
    left: 78px;
    bottom: 3px;
    z-index: 1;
    color: darken($white-4, 20%);
    padding: 2px 5px;
    font-size: 1.1rem;
  }
}

.menu_selected {
  color: $primary-2!important;
  i svg {
    fill: $primary-2;
  }
}

.submenu_selected {
  font-weight: bold;
  background: #d7f2ee;
  color: $primary-2!important;
  i svg {
    fill: $primary-2;
  }
}

.notif {
  background: rgb(252, 148, 111);
  color: white;
  font-weight: bold;
  width: 25px;
}

.notifBall {
  width: 10px;
  height: 10px;
  background: rgb(247, 180, 156);
  display: block;
  content: "";
  margin-right: 8px;
}

.banner {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.nav {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
  padding: 10px 40px;
  @media screen and (max-width: $mq-s)  {
    padding: 10px;
  }
}

.search {
  background: lighten($white-1, 5%);
  padding-left: 10px;
  input {
    background: transparent;
    padding: 8px;
    border: none;
    min-width: 0;
    outline: none;
  }
  i {
    width: 1rem!important;
    height: 1rem!important;
  }
}

.placeholder {
  width: 35px;
  height: 35px;
  background: lighten($primary-1, 50%);
  margin-left: 20px;
  border-radius: 50px;
  img {
    border-radius: 50px;
  }
  @media screen and (max-width: $mq-s)  {
    margin-left: 10px;
  }
}

.dropdown {
  display: none;
  position: absolute;
  top: 120%;
  background: white;
  width: 12rem;
  right: 0;
  box-shadow: $shadow-2;
  border-radius: 5px;
  border: 2px solid $white-1;
  ul {
    padding: 10px 0;
    li {
      padding: 7px 15px;
      a {
        display: block;
      }
    }
  }
}

.dropdown_top {
  padding: 10px 15px;
  border-bottom: 1px solid $white-1;
  h3 {
    font-weight: bold;
    margin-bottom: 5px;
  }
  div {
    font-weight: bold;
    font-size: .8rem;
    color: $secondary-2;
  }
}

.shortcuts {
  padding-top: 10px;
  h4 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  code {
    font-weight: bold;
    color: grey;
    border: 2px solid $white-3;
    background: lighten($white-1, 4%);
    border-bottom-width: 4px;
    padding: 2px 6px;
    border-radius: 5px;
    margin-right: 10px;
    min-width: 30px;
    text-align: center;
  }
  li {
    margin-bottom: 5px;
  }
  p {
    color: darken($white-3, 50%);
  }
  @media screen and (max-width: $mq-s)  {
    main {
      flex-direction: column;
    }
  }
}